<link rel="apple-touch-icon" sizes="180x180" href="{{ '/_assets/_static/icons/apple-touch-icon.png' | asset | url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/_assets/_static/icons/favicon-32x32.png' | asset | url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/_assets/_static/icons/favicon-16x16.png' | asset | url }}">
<link rel="manifest" href="{{ '/_assets/site.webmanifest' | asset | url }}">
<meta name="msapplication-TileColor" content="{{ site.iconColorMsapplicationTileColor }}">
<meta name="theme-color" content="{{ site.iconColorThemeColor }}">