@font-face {
  font-family: "SourceSerif4Variable";
  font-style: normal;
  font-display: swap;
  src: url(_static/SourceSerif4Variable-Roman.ttf.woff2) format("woff2");
}

@font-face {
  font-family: "SourceSerif4Variable";
  font-style: italic;
  font-display: swap;
  src: url(_static/SourceSerif4Variable-Italic.ttf.woff2) format("woff2");
}

@font-face {
  font-family: "SourceSans3VF";
  font-style: normal;
  font-display: swap;
  src: url(_static/SourceSans3VF-Roman.ttf.woff2) format("woff2");
}

@font-face {
  font-family: "SourceSans3VF";
  font-style: italic;
  font-display: swap;
  src: url(_static/SourceSans3VF-Italic.ttf.woff2) format("woff2");
}

.markdown-body {
  font-family: var(--secondary-font-family)
}

.markdown-body .call-to-action{
  font-family: var(--primary-font-family);
  letter-spacing: 0.05em;
  font-variant-caps: all-small-caps;
  font-size:  1.25rem;
  padding:  4px 16px;
  font-weight:  600;
}

#main-header{
	background-color:  #ffcb61;
  padding:  0;
}

#main-header .content-area{
    height:  56px;
}

#main-header .logo-link{
  color:  inherit;
  font-family: var(--secondary-font-family)
}

rocket-navigation > ul > li > a {
	color: var(--primary-color);
	font-weight: 600;
	font-size: 1.25rem;
  line-height:  1.2;
	text-transform: lowercase;
	font-variant-caps: all-small-caps;
  letter-spacing:  0.01em;
}

rocket-navigation a:hover,
#footer-menu a:hover {
text-decoration: underline;
text-decoration-color: #ffcb61;
text-decoration-thickness: 0.15em;
text-underline-offset: 0.06em;
}

#layout-index-open-navigation{
  display:  none;
}

.markdown-body h1 {
  font-weight:  350;
}


.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6{
  margin: 1em 0 1rem 0;
}

.markdown-body blockquote{
  color:  inherit;
}

.markdown-body a {
    color: var(--primary-color);
}

body[layout="layout-home-background"] #main-header a{
color: var(--primary-text-color);
}

body[layout="layout-home-background"] #main-header a:hover{
color: var(--primary-color);
}

body[layout="layout-home-background"] .page-background{
  transform: none;
  opacity:  0.05;
}

body[layout="layout-home-background"]{
  background-color: RGBA(255, 203, 97, 0.5);
}

body[layout^="layout-home"] .page-title{
  margin-bottom:  8px;
  padding-bottom:  0;
  font-size:  3em;
}

body[layout="layout-home-background"] #content-wrapper{
  min-height:  90vh;
}

body[layout="layout-home-background"] .page-subtitle{
  margin:  0 0 48px 0;
  border-color:  var(--primary-text-color);
  padding-bottom:  22px;
  text-align: center;
  color: var(--text-color);
  font-weight:  450;
}

@media screen and (min-width: 1024px) {
  body[layout='layout-home-background'] .page-subtitle {
    text-align: left;
  }
}

#main-footer{
  border-top:  none;
}

html {
  --primary-color: rgb(161,108,0);
  --primary-color-lighter: #e25761;
  --primary-color-darker: #a22831;
  --primary-color-accent: #cee5f6;
  --primary-text-color: #2c3e50;
  --primary-lines-color: #ccc;

  /* Contrast colors */
  --contrast-color-light: #fff;
  --contrast-color-dark: #1d3557;

  /* background-colors */
  --page-background: white;
  --footer-background: rgba(0, 0, 0, 0.1);

  --text-color: rbg(55,55,55);
  --primary-font-family: "SourceSans3VF", "Source Sans Variable", "Source Sans Pro", sans-serif;
  --secondary-font-family: "SourceSerif4Variable", "Source Serif Variable", "Source Serif Pro", serif;
  --heading-font-family: "SourceSerif4Variable", "Source Serif Variable", "Source Serif Pro", serif;
  --monospace-font-family: "Source Code Variable", "Source Code Pro", monospace;
}

html.dark {
  --primary-color: #e63946;
  --primary-color-lighter: #e25761;
  --primary-color-darker: #a22831;
  --primary-color-accent: #cee5f6;
  --primary-text-color: #eee;

  /* Contrast colors */
  --contrast-color-light: #fff;
  --contrast-color-dark: #1d3557;

  /* background-colors */
  --page-background: #333;
  --footer-background: #4f4f4f;

  --text-color: white;

  --markdown-octicon-link: white;
  --markdown-syntax-background-color: #a0a0a0;
  --markdown-link-color: #fb7881;
  --markdown-blockquote-color: #c9e3ff;
}